<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modify departments</title>
    <style type="text/css">
        section {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }

        section p:first-of-type>strong {
            color: rgb(2.8%, 11.1%, 47.6%);
        }

        section p:nth-of-type(2)>strong {
            color: rgb(29.1%, 30.8%, 38.2%);
        }
    </style>
</head>

<body>

<h3>Current Departments:</h3>
<table id="table" border="1" style="margin-bottom:1cm" >
    <tr>
        <th style="background-color: darkgray;">id</th>
        <th style="background-color: darkgray;">name</th>
        <th style="background-color: darkgray;">budget</th>
    </tr>
    
    <%
    if(students.length!=0){
    var i=1;
    students.forEach(function(data){
    %>
    <tr>
        <td style="background-color: darkgray;"><%=data.id %></td>
        <td style="background-color: darkgray;"><%=data.name %></td>
        <td style="background-color: darkgray;"><%=data.budget %></td>
        <td><button class="deleterow">Remove</button></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>

<h2>Add Department</h2>

<form id="addDepartment" action="/departments/add" method="POST" >

    <label for="name">name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="budget">budget:</label>
    <input type="number" id="budget" name="budget"><br><br>

    <input type="submit" value="Submit">
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function processForm( e ){
            const data = new FormData(e.target);
            payload = Object.fromEntries(data.entries())
            if (!payload.middle) delete payload.middle
            $.ajax({
                url: '/departments/add',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(payload), 
                success: function(data, textStatus, jQxhr) {
                    alert(data.message);
                },
                error: function(jqXhr, textStatus, errorThrown){
                    console.log(errorThrown);
                    console.log(payload);
                }
            });
            e.preventDefault();
        }
        
        function removeStudent( e ){
            console.log(e.target.id);
            const el = document.getElementById("table"),
                input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
                data = {};
            if (input) {
                success = "";
                
                var tableRow = el.rows[e.target.id];
                $.ajax({
                    url: '/departments/' + tableRow.cells[0].innerHTML,
                    dataType: 'json',
                    type: 'delete',
                    contentType: 'application/json',
                    data: JSON.stringify(toSend), 
                    success: function(data, textStatus, jQxhr) {
                        alert(data.message);
                        window.location.href=window.location.href;
                    },
                    error: function(jqXhr, textStatus, errorThrown){
                        alert("Something went wrong removing student from course");
                        console.log(errorThrown);
                        console.log(toSend);
                    }
                });
            }
            e.preventDefault();
        }

        $('.deleterow').click(function(e) { removeStudent(e); });
        $('#addDepartment').submit( processForm );
    })(jQuery);
</script>
</body>

</html>