<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register an admin</title>
    <style type="text/css">
        section {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }

        section p:first-of-type>strong {
            color: rgb(2.8%, 11.1%, 47.6%);
        }

        section p:nth-of-type(2)>strong {
            color: rgb(29.1%, 30.8%, 38.2%);
        }
    </style>
</head>

<body>
<h2>Add Admin</h2>

<form id="registerAdmin" action="/admin/register" method="POST" >

    <label for="email">email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="password">password:</label>
    <input type="text" id="password" name="password"><br><br>

    <label for="last">last:</label>
    <input type="text" id="last" name="last"><br><br>

    <label for="first">first:</label>
    <input type="text" id="first" name="first"><br><br>

    <label for="middle">middle:</label>
    <input type="text" id="middle" name="middle"><br><br>

    <label for="birthdate">birthdate (yyyy-mm-dd):</label>
    <input type="date" id="birthdate" name="birthdate"><br><br>

    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone"><br><br>

    <input type="submit" value="Submit">
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function processForm( e ){
            const data = new FormData(e.target);
            payload = Object.fromEntries(data.entries())
            if (!payload.middle) delete payload.middle
            $.ajax({
                url: '/admin/register',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(payload), 
                success: function(data, textStatus, jQxhr) {
                    alert(data.message);
                },
                error: function(jqXhr, textStatus, errorThrown){
                    console.log(errorThrown);
                    console.log(payload);
                }
            });
            e.preventDefault();
        }

        $('#registerAdmin').submit( processForm );
    })(jQuery);
</script>
</body>

</html>