<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a course</title>
    <style type="text/css">
        section {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }

        section p:first-of-type>strong {
            color: rgb(2.8%, 11.1%, 47.6%);
        }

        section p:nth-of-type(2)>strong {
            color: rgb(29.1%, 30.8%, 38.2%);
        }
    </style>
</head>

<body>

<h3>Manage salaries:</h3>
<table id="table" border="1" style="margin-bottom:1cm" contenteditable="true">
    <tr>
        <th>position</th>
        <th>id</th>
        <th>email</th>
        <th>salary</th>
    </tr>
    
    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(data){
    %>
    <tr>
        <td><%=data.position %></td>
        <td><%=data.id %></td>
        <td><%=data.email %></td>
        <td><%=data.salary %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>

<button type="button" id="submitButton">Submit changes</button>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var success = "";
    (function($){
        function submitChanges( e ){
            const el = document.getElementById("table"),
                input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
                data = {};
            if (input) {
                const ppl = grabTable(el);
                const advisors = ppl[0];
                const teachers = ppl[1];
                success = "";
                for (var i = 0; i < advisors.length; i++) {
                    $.ajax({
                        url: '/advisors',
                        dataType: 'json',
                        type: 'put',
                        contentType: 'application/json',
                        data: JSON.stringify(advisors[i]), 
                        success: function(data, textStatus, jQxhr) {
                            if (success == "") {
                                success = "Sent changes to advisor and teacher";
                                alert(success);
                            }
                        },
                        error: function(jqXhr, textStatus, errorThrown){
                            console.log(errorThrown);
                            console.log(advisors[i]);
                        }
                    });
                }
                for (var i = 0; i < teachers.length; i++) {
                    $.ajax({
                        url: '/teachers',
                        dataType: 'json',
                        type: 'put',
                        contentType: 'application/json',
                        data: JSON.stringify(teachers[i]), 
                        success: function(data, textStatus, jQxhr) {
                            if (success == "") {
                                success = "Sent changes to advisor and teacher";
                                alert(success);
                            }
                        },
                        error: function(jqXhr, textStatus, errorThrown){
                            console.log(errorThrown);
                            console.log(teachers[i]);
                        }
                    });
                }
            }
            e.preventDefault();
        }

        submitButton.addEventListener("click", submitChanges);
    })(jQuery);


    function grabTable(table) {
        var data = [2];
        data[0] = [];
        data[1] = [];

        // first row needs to be headers
        var headers = [];
        for (var i=0; i<table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
        }

        // go through cells
        for (var i=1; i<table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j=1; j<tableRow.cells.length; j++) {

                rowData[ headers[j] ] = tableRow.cells[j].innerHTML;

            }
            if (tableRow.cells[0].innerHTML == "ADVISOR") {
                
                data[0].push(rowData);
            }
            else {
                data[1].push(rowData);
            }
        }       

        return data;
    }
</script>
</body>

<script>
    document.addEventListener('keydown', function (event) {
    var esc = event.which == 27,
        nl = event.which == 13,
        el = event.target,
        input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
        data = {};

    if (input) {
        if (esc) {
        // restore state
        
        document.execCommand('undo');
        el.blur();
        } else if (nl) {
        // save
        
        data[el.getAttribute('data-name')] = el.innerHTML;

        console.log(tableToJson(el));

        el.blur();
        event.preventDefault();
        }
    }
    }, true);

    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i=0; i<table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
        }

        // go through cells
        for (var i=1; i<table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j=0; j<tableRow.cells.length; j++) {

                rowData[ headers[j] ] = tableRow.cells[j].innerHTML;

            }

            data.push(rowData);
        }       

        return data;
    }
</script>


</html>